body {margin:0;}
h2 {
  font-family: monospace;
  color: #606060;
}
ul {
  list-style: none;
  margin: 0 auto;
}
a {
  text-decoration: none;
  /* font-family: 'Lora', serif; */
  transition: .5s linear;
}
i {
  margin-right: 10px;
}
nav {
  display: block;
  width: 660px;
  /* margin: 0 auto 30px; */
}

.mainmenu ul {
  display: -webkit-flex;
  display: flex;
  background: #FFD7A7;
  padding-left: 0;
}
.mainmenu a {
  padding: 1em;
  display: block;
  color: #9B4222;
  border-right: 1px solid #FFAB51;
  background: rgba(255, 171, 81, .3);
}
.mainmenu a:hover {background: #FFAB51}



.form-contact {
  /* background-color: #c0c0c0; */
  color: rgb(217, 217, 217);
  /* width: max-content; */
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;

}
/* .form-contact div {
  width: max-content;
} */




.input-file {
	position: relative;
	display: inline-block;
  /* background-color: #FFAB51; */
  margin-top: 20px;
}
.input-file-text {
	padding: 0 10px;
	line-height: 40px;
	text-align: left;
	height: 40px;
	display: block;
	float: left;
	box-sizing: border-box;
	width: 100%;
	border-radius: 10px 10px 0 0 ;
	border: 1px solid rgba(221, 221, 221, 0.663);
}
.input-file-btn {
  position: relative;
	width: 100%;

	display: inline-block;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	font-size: 14px;
	vertical-align: middle;
  color: rgb(217, 217, 217);
	text-align: center;
	border-radius:  0  0 10px 10px ;
	background-color: #564191;
	line-height: 22px;
	height: 40px;
	padding: 10px 20px;
	box-sizing: border-box;
	border: none;
	margin: 0;
	transition: background-color 0.2s;
}
.input-file input[type=file] {
	/* position: absolute; */
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}

/* Focus */
.input-file input[type=file]:focus + .input-file-btn {
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

/* Hover/active */
.input-file:hover .input-file-btn {
	background-color: #8559be;
}
.input-file:active .input-file-btn {
	background-color: #612e70;
}

/* Disabled */
.input-file input[type=file]:disabled + .input-file-btn {
	background-color: #eee;
}

.form-contact2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.buttonn {
  
  justify-content: center;
  background-color: #564191;
  border: none;
  color: rgb(217, 217, 217);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 800;
  transition-duration: 0.4s;
  border-radius: 10px;
}

.buttonn:hover {
  background-color: #8559be; /* Green */
  color: white;
}




.form-contact4 {
  background-color: rgba(255, 255, 255, 0.1);
  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 20px;
}

span, p{
  font-family: Helvetica, sans-serif;
 }


.bott{
  text-align:  center;
  color: rgb(217, 217, 217);
  font-weight: 100;
  font-size: 14px;
  background-color: #9B4222;
  margin-top: 70px;
  font-size: 36px;
}
.bott a{
  text-align:  center;
  color: rgb(217, 217, 217);
  font-weight: 100;
  font-size: 14px;
}





/* NOrmalno */
/* .mainbody {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
} */
.mainbody {
  background: linear-gradient(-45deg, #a45137, #7e2144, #135c77, #13735c);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}
.first_title_row {
  text-align:  center;
  /* background-color: #9B4222; */
  font-size: 36px;
  margin: 0;
}

.container_form_load {
  /* background-color: #3f3401; */
  color: rgb(217, 217, 217);
  /* height: 50vh; */
  display: flex;
  justify-content: center;
}

.form_load {
  background-color: rgba(255, 255, 255, 0.1);
  padding-top: 10px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 20px;
  width: 290px;
  
  justify-content: center;

  text-align:  center;
}

.go_main_a {
  /* height: 100px; */
  color: rgb(217, 217, 217);
  
}

.bottom_title_row{
  text-align:  center;
  color: rgb(217, 217, 217);
  font-weight: 100;
  font-size: 14px;
  /* background-color: #3c9b22; */
  margin: 0;
}

.bottom_transparent {
  text-align:  center;
  color: rgb(217, 217, 217);
  font-weight: 100;
  font-size: 14px;
  /* background-color: #67229b; */
  margin: 0;
  height: 50px;
}

@keyframes donut-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.donut {
  display: inline-block;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #7983ff;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  animation: donut-spin 1.2s linear infinite;
  text-align:  center;
  justify-content: center;

}

.made_for_vitaliy {
  font-family: 'Cookie', cursive;
  font-size: 24px;
}


@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

.area *{
    margin: 0px;
    padding: 0px;
}



.area{
    /* background: #4e54c8;   */
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    /* height:5vh; */
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}