{% extends 'base.html' %}
{% block content %}
{{ super () }}

<!-- <form action="/contact" method="post" class="form-contact">
    <p>
        <label>Имя:</label>
        <input type="text" name="username" value="" requied />
    <p>
        <label>Email:</label>
        <input type-"text" name="email" value="" requied />
    <p>
        <label>Сообщение:</label>
    <p>
        <textarea name="message" rows=7 cols=40>
        </textarea>
    <p>
        <input type="submit" value="Отправить" />
</form> -->
<div class="bott" style="margin-top: 70px; font-size: 36px;">
    <p>🌙</p>
</div>
<div class="form-contact">
    <div class="form-contact3">
        <form class="form-contact2" action="/uploader" method="POST" enctype="multipart/form-data"
            style="flex-direction: column">

            <label class="input-file">
                <span class="input-file-text" type="text"></span>
                <input type="file" name="file">
                <span class="input-file-btn">Файл PDF</span>
            </label>

            <label class="input-file">
                <span class="input-file-text" type="text"></span>
                <input type="file" name="file1" title="123">
                <span type="file" name="file1" class="input-file-btn">Файл EXCEL</span>
            </label>

            <p></p>
            <button class="buttonn" type="submit">Сделать магию</button>
        </form>
    </div>
</div>
<div class="bott">
    <p>Made for Vitaliy 🤘🏼</p>
</div>
<script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
<script>
    $('.input-file input[type=file]').on('change', function () {
        let file = this.files[0];
        $(this).closest('.input-file').find('.input-file-text').html(
            file.name.substr(0, 15) +
            "  ...  " +
            file.name.substr(file.name.length - 14, 14)
        );
    });
</script>



{% endblock %}