{% extends 'base.html' %}
{% block content %}
{{ super () }}


<div class="area">
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<div class="container_form_load">
    <div class="form_load" style="z-index: 10000;">
        <form class="form-contact2" action="/download" method="get" enctype="multipart/form-data"
            style="flex-direction: column; align-items: center">

            <h1 style="align-items: center;">Все гуд</h1>
            <h1 style="align-items: center;  margin-top: 0px">😊</h1>
            <p style="align-items: center; margin-top: 5px">Можно скачивать</p>
            <p style="align-items: center; margin-top: 0px">👇</p>
            <!-- <p></p> -->
            <button class="buttonn" tyle=" z-index: 10000;" type="submit">Скачать</button>
            <a class="go_main_a" href="/" vlink="#cecece" style="text-decoration: underline; margin-top: 20px;">На
                главную</a>
        </form>
    </div>
</div>
<div class="bottom_transparent">
</div>

<script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
<script>
    $('.input-file input[type=file]').on('change', function () {
        let file = this.files[0];
        $(this).closest('.input-file').find('.input-file-text').html(file.name);
    });
</script>

{% endblock %}