{% extends 'base.html' %}
{% block content %}
{{ super () }}


<div class="container_form_load">
    <div class="form_load">
        <form class="form-contact2" action="/download" method="get" enctype="multipart/form-data"
            style="flex-direction: column; align-items: center">

            <h1 style="align-items: center;">Все гуд</h1>
            <h1 style="align-items: center;">😊</h1>
            <p style="align-items: center;">Можно скачивать</p>
            <p style="align-items: center;">👇</p>
            <!-- <p></p> -->
            <button class="buttonn" type="submit">Скачать</button>
            <a class="go_main_a" href="/index" vlink="#cecece" style="text-decoration: underline; margin-top: 20px;">На
                главную</a>
        </form>




    </div>
</div>

<div class="bottom_title_row">
    <p>Made for Vitaliy 🤘🏼</p>
</div>


<script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
<script>
    $('.input-file input[type=file]').on('change', function () {
        let file = this.files[0];
        $(this).closest('.input-file').find('.input-file-text').html(file.name);
    });
</script>

{% endblock %}